/* position and dimension the body so child elements can be dimensioned */
body{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-image: url("../images/money.jpg");
    background-size: cover;
}

header{
    /*as to display logo and motto adjacently as cells*/
    display: table;
    background: rebeccapurple;
    width: 100%;
}

#logo{
    display: table-cell;
    text-align: center;
    width: 8%;
}

#motto{
    display: table-cell;
    padding: 1%;
    text-align: right;
}

#motto p{
    font-size: 200%;
    color: red;
    margin: 0% 2%;
}

#motto span{
    font-size: 100%;
    color: white;
    margin: 0% 2%;
}

/* position and size the navigation bar */
nav{
    padding: 1%;
    text-align: end;
    background-image: linear-gradient(to right, rgb(246, 215, 246), plum);
}

/* hightlight navigation tabs on hover */
nav tab:hover{
    background: rgb(243, 223, 243);
}

/* size nav tabs to get desired backgroun size/shape*/
nav tab{
    padding: .6% .6% 1.1% .6%;
    margin: .5%;
}

/* remove underlining of nav links */
nav tab a{
    text-decoration: none;
}

/* choose display to enable side by side rendering of children divs
(menu and main) */
#content{
    /* display: table; */
    margin: 0%;
}

#menu{
    width: 20%;
    background-image: linear-gradient(rgb(246, 215, 246), white);
    float: left;
}

#menu a{
    margin-top: 4%;
    padding: .5% 2%;
    /* display: block; */
    text-decoration: none;
    font-style: italic;
}

/* highlight menu item on hover */
#menu a:hover{
    background: rgb(190, 114, 224);
    font-weight: bolder;
    color: white;
    font-style: normal;
}

/* mark active itm */
#menu a.active{
    background: rgb(53, 71, 109);
}

#main{
    width: 80%;
    float: right;
    margin: 0%;
}

/* style the menu icon for small screens */
#iconcontainer{
    cursor: pointer;
    width: 20px;
    padding: 0;
    /* position icon in the center towards the bottom of the page */
    position: fixed;
    left: calc(50vw - 10px);
    top: 85%;
    /* icon overllap background */
    z-index: 2;
    /* hide icon by default(large screens) */
    display: none;
}

/* position and dimension icon */
.iconrow{
    margin: -10px 0px;
}

.iconrow .icondot{
    width: 6px;
    height: 6px;
    /* opacity: .7; */
    margin: 0 -1px;
    display: inline-block;
    background: black;
    border-radius: 50%;
}

/* style expansion icon */
.more{
   background: purple;
   height: 3px;
   width: 10%;
   margin: 2px 45%;
   border-radius: 1.5px;
   opacity: .7;
}

#more{
    margin-top: 10px;
}

#options{
    display: none;
}

footer{
    padding: 1.5% 0;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-image: linear-gradient(rebeccapurple, rgb(80, 0, 80));
    color: white;
    /* ensure footer is not overflown by any previous content */
    z-index: 20;
}

footer span{
    margin-left: 2%;
}

/* force welcome add into transparent while mainataining
 its full opacity main window */
#ad{
    position: fixed;
    top: 35%;
    left: 20%;
    color: yellow;
    font-size: 400%;
    font-weight: bolder;
    /* bring text to thefore */
    z-index: 1;
    font-family: cursive;
}

/* style signup/signin page */
#signupform{
    position: relative;
    width: 60%;
    left: 20%;
    margin-top: 8%;
    padding: 1% 0;
    z-index: 10;
}

#signupform input{
    width: 92%;
    margin: .5% 4%;
    display: block;
    text-indent: 2%;
    line-height: 1.5;
    border-radius: 10px;
    border: solid .5px transparent;
}

#signupform label{
    margin-left: 4%;
    /* padding-top: 1%; */
    text-transform: capitalize;
    color: yellow;
    font-weight: bolder;
    z-index: 10;
    font-family: cursive;
}

#signupform button{
    border-radius: 15px;
    border: none;
    padding: .5% 0;
    background: rgb(0, 0, 126);
    color: white;
    /* align buttons horizontally */
    width: 25%;
    margin: .2% 4%;
    cursor: pointer;
}

#signupform span{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#signupform::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background:rebeccapurple;
    opacity: .3;
    content: '';
    z-index: -1;
    border-radius: 20px;
}

/* hide default blue outline on focus for entire document*/
:focus{
    outline: none;
}

/* hide all dynamically loaded, page-specific elements by default to avoid flash on initial loading then selective dynamic hidding(since body load event is used to select theseelementsand will only finally be hidden/displayed after the page loads) */
#auth > *, #menu > *, #signupform > *{
    display: none;
}
